{% extends 'buildyourpc/base.html' %}

{% block title %}
    Motherboard detail
{% endblock %}

{% block content %}
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th><strong>Name</strong></th>
                    <th><strong>CPU socket</strong></th>
                    <th><strong>Memory type</strong></th>
                    <th><strong>Maximum memory</strong></th>
                    <th><strong>Memory slots</strong></th>
                    <th><strong>Sata slots</strong></th>
                    <th><strong>Price</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ cpu_socket }}</td>
                    <td>{{ memory_type }}</td>
                    <td>{{ max_memory }} GB</td>
                    <td>{{ memory_slots }}</td>
                    <td>{{ sata_slots }}</td>
                    <td>{{ price }} lei</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}