{% extends 'buildyourpc/base.html' %}

{% block title %}
    Storage detail
{% endblock %}

{% block content %}
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th><strong>Name</strong></th>
                    <th><strong>Memory type</strong></th>
                    <th><strong>Capacity</strong></th>
                    <th><strong>Frequency</strong></th>
                    <th><strong>Price</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ memory_type }}</td>
                    <td>{{ capacity }} GB</td>
                    <td>{{ frequency }} GHz</td>
                    <td>{{ price }} lei</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}